/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Common styles */
body{
    font-family: 'Poppins', sans-serif;
}

/* header style starts  */

header{
     background-color: #2D25A0; 
}

.header-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.banner-info{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
  
}

.banner-title{
    color: #FFFFFF;
    font-size: 64px;
}

.banner-live{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 168px;
    height: 44px;
    background-color:#E02C6D;
    margin-bottom: 50px;
}

.banner-live a{
    color: #FFFFFF;
    text-decoration: none;
}


.banner-image img{
    width: 556px;
    height: 438px;
    transition: transform 1.2s ease-in-out;
}

.header-banner:hover img{
    transform: rotate(360deg);
}
/* header style starts  */



.container{
    background-color: #FFFFFF;
    margin-top: 60px;
}

.players{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    width: 330px;
    height: 474px;
    border-radius: 2px;
      
    box-shadow: 5px 5px 20px 5px #888888ea; 
     padding: 10px;
    margin:15px;   
    background-image: linear-gradient(white,lightgray);
   
}

.player img{
    width: 300px;
    height: 256px;
}


/* achivements style starts */
.achievements{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.achievement{
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;

    color:lightslategray;
    box-shadow: 5px 5px 20px 5px #8888884b;
}
.achievement img{
    width: 200px;
    height: 250px;
}

.achievement p h3{
    margin: 0;
}



/* footer style starts */
.footer-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-items img{
    margin-top: 50px;
    width: 483.87px;
    height: 110px;
}
.footer-icons{
    display: flex;
    justify-content: space-evenly;
    width: 170px;
    height: 32px;
}

.footer-icons a{
    color: gray;
}



/*-------
 Media query
            ------ */

            /* Mobile device */
            
            @media only screen and (max-width:688px) {
               
                .header-banner
                { 
                    flex-direction: column;
                    padding:10px;
                }

                .banner-title{
                    font-size: 36px;
                }

                
                .banner-image img{
                    width:100%;
                    height: 100%;
                }

                .players{
                   flex-direction: column;
                }

                .player{
                    width: 88%;
                    /* width: 330px;
                    height: 474px;
                    box-shadow: 5px 5px 20px 5px #8888884b;
                    padding: 10px;
                    margin:15px; */
                }
                
                .player img{
                    width: 100%;
                }

                .achievements{
                    flex-direction: column;
                }
                
               
                .footer-items img{
                    width: 275px;
                    height: 70px;
                }
                .footer-copyright{
                    font-size: 15px;
                }
            }